<main>
<section class="jumbotron text-center">
  <div class="container">
  <h4 class="jumbotron-heading">About</h4>
   <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
     お子様からお年寄りの方までお召し上がりいただけるよう、<br>
     様々なバリエーションをご用意しております。<br>
     また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
     ぜひご注文ください。
   </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

      </div>
    </div>
  </div>
</div>

</main>

