<main>
  <p id="notice"></p>
  <div class="container">
   <div class="row">
    <div class="mx-auto col-11 col-sm10 col-lg-8 col-xl-6">
    <p class="px-3 mx-auto">
      ようこそ、ながのCAKEへ！<br>
      このサイトはケーキサイトのECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>

  <h3>新着商品</h3>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
         <div class="card md-3 box-image">
           
             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
          <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>
        <div class="col-md-3">
          <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>
        <div class="col-md-3">
          <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</main>

 

