@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.field_with_errors {
  display: contents;
}


nav.navbar {
  min-height: 38px;
  background-color: #ffe4b5;
  background-image: none;
  font-family: 'Caveat', cursive;
}

footer {
  text-align:center;
  min-height: 50px;
  background-color: #ffe4b5;
  position: absolute;
  bottom: 0;
  width: 100%;
}