<div class="container">
  <div class="row">
    <h4>商品一覧</h4>
  </div>

    <div class="row">
        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>

        <div class="col-md-3">
         <div class="card md-3 box-image">

             <div class="card-body">
               <p class="card-text">
                 商品名<br>
                 ¥105
               </p>
             </div>
         </div>
        </div>
      </div>
    </div>
</div>